body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 40px;
}
.color{
    color: darkorange;
}
.flexible{
    display: flex;
    margin-bottom: 10%;
}
.half-width{
    width: 80%;
}
.half-width{
    padding-left: 10%;
}
.half-width img{
    padding-left: 2%;
}
.link-button{
    text-decoration: none;
    padding: 10px;
    background-image: linear-gradient(red, black);
    color: white;
    font-weight: 700;
    border-radius: 10px;
}
.back-site{
    background-image: url(images/top-banner.png);
}
.Dream{
    background-image: url(images/dream-bg.png);
    background-position: right;
    background-repeat: no-repeat;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position-x: left;
}
.item{
    box-shadow: 10px 10px 40px red;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    width: 40%;
    border-radius: 20px;
}
#first-{
    border-left: 7px solid;
 
}
#second{
    border-left: 7px solid blue;
}